:root{
    --background:  rgb(85, 85, 85);
    --teal:  rgb(55, 196, 196);

}
html {
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;



}

.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
    background-color:var(--teal);
    color: var(--background);

    
}

.top-menu {
    display: flex;
    height: 20px;
    margin-right: 50px;
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;

}

.menu-item {
    list-style: none;
    margin-right: 10px;
    border-bottom: 2px solid var(--teal)
    height: 100%;
    
}


a{
    text-decoration:none;
    color:var(--teal);
}


.profilePhoto {
    border-radius: 50%;
    background-color: var(--background);
    margin-left: 20px;
}
.subtitleSection{

display: flex;
flex-wrap: wrap;
background-color: blue;
justify-content: right;
background-color: var(--background);
padding: 10px;
}
.subtitleBody{
    background-color: var(--teal);
    color: var(--background);
}